// CSS Reset
@import "../../vendor/bootstrap/less/reset.less";

@import "variables.less";
@import "../../vendor/bootstrap/less/mixins.less";

@import "../../vendor/bootstrap/less/scaffolding.less";

@import "../../vendor/bootstrap/less/type.less";
@import "../../vendor/bootstrap/less/code.less";
//@import "../../vendor/bootstrap/less/forms.less";

//@import "../../vendor/bootstrap/less/buttons.less";
//@import "../../vendor/bootstrap/less/button-groups.less";
//@import "../../vendor/bootstrap/less/alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

//@import "../../vendor/bootstrap/less/navs.less";
//@import "../../vendor/bootstrap/less/navbar.less";
@import "../../vendor/bootstrap/less/breadcrumbs.less";
@import "../../vendor/bootstrap/less/pagination.less";
@import "../../vendor/bootstrap/less/pager.less";


@import "../../vendor/bootstrap/less/thumbnails.less";
//@import "../../vendor/bootstrap/less/accordion.less";
//@import "../../vendor/bootstrap/less/carousel.less";

// Utility classes
@import "../../vendor/bootstrap/less/utilities.less"; // Has to be last to override when necessary

// Generating grid
#grid > .core(@gridColumnWidth, @gridGutterWidth);
.container {
	.container-fixed();
}

body{
	#gradient .radial(#54A836, #008628);
}

h1{
	color: #fff;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 3em;
	margin: 1.5em auto;

	&::after, &::before{
		color: @textColor;
		font-family: "Courier New", monospace;
		font-size: .8em;
	}
	&::before{
		content: '{"title": "';
	}
	&::after{
		content: '"};';
	}
}

article,
aside{
	#translucent .background(#fff, .4);
	.box-shadow(0 0 20px darken(#008628, 10%));
	.border-radius(2px);
	margin-bottom: 20px;
	min-height: 250px;

	h2{
		#translucent .background(#fff, .4);
		.border-radius(2px 2px 0 0);
		font-size: 1.4em;
		padding: 5px;

		a{
			display: block;
		}
	}
}

article{
	.transition(box-shadow .5s ease-out);

	&:hover, &:focus{
		.box-shadow(0 0 20px darken(#008628, 35%));
	}
}

aside{
	min-height: 0;

	.widget{
		list-style: none;

		> div, > ol, > ul{
			display: none;
		}
	}

	.widget_rss{
		.widgettitle .rsswidget:first-child{
			display: none;
		}
	}
}